@import 'src/Styles/stylesNeomorphism';

.card-inner {
  border-radius: 25px;
  box-shadow: $cardBoxShadow;
  background-color: $mainBgColor;
  padding-top: 15px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  img {
    transition: 0.3s ease;
    height: 50%;
  }

}

.playingmode{
  img {
    height: 75%;
  }
}

.rotated {
  transform: rotateY(180deg);
}

.chosen {
  img {
    filter: blur(2px);
  }
}
