@import 'src/Styles/stylesNeomorphism';

.category-card {
  border-radius: 25px;
  border-color: transparent;
  box-shadow: $cardShadow;
  background-color: $greyLight-1;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  transition: 0.1s ease;

}

.category-card:hover{
  box-shadow: $inner-shadow;
  color: $primary;
}

.playing-mode__category {
  background-color: $primary;
  color: $primary-light;
}

.playing-mode__category:hover{
  box-shadow: none;
  color: $greyLight-1;
}

