$mainBgColor: #ecf0f3;
$hoverColor: #fa897b;
$textColor: #7d7d7d;

$boxShadowOutside: 6px 6px 6px #cbced1, -6px -6px 6px white;
$boxShadowInside: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;

$cardBoxShadow: 7px 7px 10px #cbced1, -7px -7px 10px white;

