.card-inner {
  border-radius: 25px;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  background-color: #ecf0f3;
  padding-top: 15px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  img {
    width: 50%;
    //width: 15vw;
  }

}

.rotated {
  transform: rotateY(180deg);

}
