@import 'src/Styles/stylesNeomorphism';

.button {
  background: $mainBgColor;
  outline: none;
  border-color: transparent;
  box-shadow: $shadow;
  border-radius: 1rem;
  padding: 12px 25px;
  cursor: pointer;
  color: $textColor;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  transition: 0.1s ease;
}

.button:focus{
  outline:none;
}

.button:hover {
  color: $primary;
  //border: 3px solid $mainBgColor;
}

.button:active {
  box-shadow: $inner-shadow;
}

