@import 'src/Styles/mediaSizes';
@import 'src/Styles/stylesNeomorphism';

.navigation {
  position: absolute;
  background-color: $mainBgColor;
  padding-top: 20px;
  height: 100%;
  max-width: 500px;
  width: 50vw;
  top: 0;
  left:0;
  right: 0;
  transition: 0.3s ease;
  transform: translateX(-100%);
  ul{
    list-style: none;
    padding-inline-start: 0;
    padding: 0 30px;
  }

  li {
    margin: 30px 0;
    text-align: left;
  }

  button {
    margin-top: 15px;
  }
}

.show-menu {
transform: translateX(0);
}

@media (max-width: $breakpoint-one) {
  .navigation {
    width: 100%;
  }
}


