@import '../../Styles/_mediaSizes.scss';

.categories {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  a {
    background-color: transparent;
    width: calc(100% / 4 - 25px);
    height: 250px;
    margin-bottom: 90px;
  }
}


@media (max-width: $breakpoint-three) {
  .categories {
    a{
      width: calc(100% / 3 - 25px);
    }
  }
}

@media (max-width: $breakpoint-two) {
  .categories {
    a{
      width: calc(100% / 2 - 25px);
    }
  }
}

@media (max-width: $breakpoint-one) {
  .categories {
    a{
      width: calc(100% / 1 - 25px);
    }
  }
}