@import 'src/Styles/mediaSizes';

.results {
  img {
    width: 50px;
    margin: 0 5px;
  }
}

.hidden-image {
  display: none;
}

@media(max-width: $breakpoint-two) {
  .results {
    img {
      width: 35px;
    }
  }
}

@media(max-width: $breakpoint-one) {
  .results {
    img {
      width: 25px;
    }
  }
}


