@import 'src/Styles/stylesNeomorphism';

.active div{
  color: $primary;
  box-shadow: $inner-shadow;
}

.menu-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  transition: 0.3s ease;
  background: $greyLight-1;
  box-shadow: $shadow;
  border-radius: 15px;
  //margin-left: 10px;
  img {
    width: 10%;
    margin-right: 15px;
  }
}

.menu-category:hover{
  color: $primary;
}